p {
    transform: translate(550px, 10px);
    color: rgb(19, 199, 12);
}

header {
    background-color: rgb(231, 16, 16);
}

ul li {
    border-radius: 10px ;
    list-style: none;
    background-color: rgb(21, 155, 21);
    
}

ul li a {
    text-decoration: none;
    color: rgb(57, 22, 185);
 } 

 img {
    width: 250px ;
    height: 250px ;
 }

 ul {
    display: flex;
    gap: 20px;
}
main {
    background-color: aqua;
}
footer {
    background-color: aqua;
}
 
footer li a {
    
}